.carousel-item img {
    max-width: 480px;
    width: 100%;
    margin: auto;
    display: block;
}
.live-tile-gallery .row {
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(100px, 1fr));
}
.container-fluid {
    height: 80vh;
    display: flex;
    flex-direction: column;
}
.live-tile-gallery .row {
    flex-grow: 1; /* Ensures equal distribution */
}

.live-tile-gallery .row .column {
    grid-column: span 3;
    width: auto;
    /* height: 100%; 
    overflow: hidden; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}